body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
h1{
    font-size: 50px;
}
.heading-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 60px;
}
.section1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.section2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width{
    width: 45%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
    padding-top: 15px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 600px;
}